@import "bootstrap";

.navbar{
  min-height: 100px;
}

.navbar a {
  color: white;
  font-size: 30px;
}

.navbar a:hover {
  color:red;
  transition: 0.7s;
}

.title_name {
  color:red;
}

@font-face {
  font-family: 'grandsport';
  src: url('grandsport.ttf');
}

.welcome-header {
  color: white;
  font-family: "grandsport";
  font-size: 55px;
}

.card-title {
  color: red;

}

.alert {
  color: red;
  font-size: 20px;
  font-family: "arial";
}

body {
  background-color: rgb(27, 27, 27);
}

.field {
  color: red;
  font-size: 20px;
  line-height: 2;
  width: 100%;
}

.row {
  width: 15%;
}

h2 {
  color: black;
}

.current_user {
  color: white;
  text-align: right;
  padding-right: 1%;
  font-size: 25px;
}

.event-title {
  color: white;
  font-family: "grandsport";
}