<center>
<div id="logo">
  <img src="https://raw.githubusercontent.com/beddings81/corvette_club/main/app/assets/images/cc_logo.png" class="img-fluid" alt="onyva logo" width="400" height="auto" />
</div>
</center>
